<div class="skill">
    <div class="progress-bar">
        <h5 class="title">HTML</h5>
        <div class="progress" #html><p class="procent">90%</p></div>
        <h5 class="title">CSS</h5>
        <div class="progress" #css><p class="procent">90%</p></div>
        <h5 class="title">JAVASCRIPT</h5>
        <div class="progress" #javascript><p class="procent">80%</p></div>
        <h5 class="title">TYPESCRIPT</h5>
        <div class="progress" #typescript><p class="procent">70%</p></div>
        <h5 class="title">REACT</h5>
        <div class="progress" #react><p class="procent">80%</p></div>
        <h5 class="title">ANGULAR</h5>
        <div class="progress" #angular><p class="procent">50%</p></div>
        <h5 class="title">GitHub</h5>
        <div class="progress" #gitHub><p class="procent">90%</p></div>

    </div>
</div>
