header{
    width: 100%;
    position: relative;
    & nav{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      background-color: #fff;
        & ul{
            width: 100%;
            display: flex;
            gap: 20px;
            justify-content: center;
            padding: 5px;
        }
    }
    
}

  .active {
    text-decoration: underline;
  }

  .logo-container {
    z-index: 111;
    position: fixed;
    top: 5px; 
    left: 50px;
  }
  
  .logo {
    width: 20px;
    height: 20px;
  }
  