<div class="skillsWrapper">
    <div class="professionalSkills">
        <ul>
            <li class="item" *ngFor="let professionalSkill of professionalSkills">
                <div class="square"></div> 
                {{ professionalSkill }}</li> 
        </ul>
    </div>
    <div class="softSkills">
        <ul>
            <li class="item" *ngFor="let softSkill of softSkills">
                <div class="square"></div> 
                {{ softSkill }}</li> 
        </ul>
    </div>
</div>

