<footer>
    <div class="contact">
        <a href="https://github.com/KiraSeletska" target="_blank"><fa-icon [icon]="gitHubIcon"></fa-icon></a>
        <a href="https://www.linkedin.com/in/kira-seletska/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="mailto:kira.seletska@gmail.com" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a>
        <a href="https://www.instagram.com/kira_seletska/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://wa.me/49016091429749" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
    </div>
    
<div class="createInfo">
    <p>made using</p>
    <span class="no-margin-left">  <fa-icon [icon]="faAngular" class="custom-icon"></fa-icon> v.17</span>
    <p> & GSAP Animation</p>
    <p>2024</p>
</div>
</footer>

