
<header class="main">
    <div class="logo-container" >
        <img class="logo" src="../../assets/logo/darkCircle.png" alt="" >
      </div>
      
    <nav>
        <ul class="nav-list">

            <li class="nav-item">
                <a class="nav-link" [class.active]="activeSection === 'home'" (click)="scrollToSection('home')">Home</a>
            </li>
       
            <li class="nav-item">
                <a class="nav-link" [class.active]="activeSection === 'projects'" (click)="scrollToSection('projects')" >Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="activeSection === 'skills'" (click)="scrollToSection('skills')">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="activeSection === 'experience'" (click)="scrollToSection('experience')">Experience</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [class.active]="activeSection === 'contact'" (click)="scrollToSection('contact')">Contact</a>
            </li>
        </ul>
    </nav>
</header>