<p>icosahedron works!</p>
<div class="container">
  <div #icosahedron class="icosahedron">
    <!-- Грани икосаэдра -->
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
    <div class="face1"></div>
  </div>
</div>
