<div class="projectWrapper">
    <button (click)="navigateToMain()">Return to Main</button>

    <div *ngIf="project" class="projectDetails">
        <div class="infoWrapper">
            <div class="info">
                <h2>{{ project.title }}</h2>
                <h3>Skills used:</h3>
                <div class="skills">
                    <ng-container *ngFor="let skill of project.skills">
                        <ng-container *ngIf="skills[skill]">
                            <img class="icon" [src]="skills[skill]" [alt]="skill">
                        </ng-container>
                    </ng-container>
                </div>
                <div class="links" *ngIf="project.linkToWebsite || project.linkToCode">
                    <h4 *ngIf="project.linkToWebsite"> <a target="_blank" href={{project.linkToWebsite}}>Website</a></h4>
                    <h4 *ngIf="project.linkToCode"> <a target="_blank" href={{project.linkToCode}}>GitHub</a></h4>
                </div>
            </div>
            <video autoplay loop>
                <source [src]="project.videoLink" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <p class="describtion">{{ project.description }}</p>
        <div class="screenshots">
            <div class="screenshot" *ngFor="let screenLink of project.screensLinks">
                <img [src]="screenLink" alt="Project Screenshot">
            </div>
        </div>

    </div>
</div>