.experience-container {
  display: flex;
  justify-content: space-between;
overflow: hidden;

  & h2 {
    font-size: 60px;
    margin-bottom: 50px;
    color: rgb(223, 103, 103);
  }
  & h3 {
    font-size: 40px;
  }
  & h6{
    font-size: 25px;
    margin-top: 20px;
    &:hover{
      color: rgb(209, 88, 88);
    }
  }
  & p {
    font-size: 30px;
  }
  & span{
    font-weight: 700;
  }
  & .period,
  & .place {
    font-size: 25px;
    color: rgb(143, 143, 143);
  }
  & .experience-section {
    flex: 1;

    & .development-experience {
      margin-bottom: 50px;
      & .links{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        & a{
          display: block;
        }
      }
    }
    & .experience-list {
      & .job {
        margin-bottom: 50px;
      }
    }
  }
  & .education-languages-section {
    flex: 1;
    margin-left: 20px;
    & .edu {
      margin-bottom: 50px;
    }
    & .experienceCubeContainer{
    
     transform: translate(100px,500px);
    }
  }
}
