<div class="homeWrapper">
      <div class="photo"></div>
      <div class="info">
            <h1>&lt;FRONTEND DEVELOPER/&gt;</h1>
            <h2>SELETSKA KIRA</h2>
            <div class="skills">
                  <ng-container *ngIf="skills">
                        <ng-container *ngFor="let skill of skillsKeys">
                              <img [src]="skills[skill]" [alt]="skill" class="skill-icon">
                        </ng-container>
                  </ng-container>
            </div>
            <p class="text">{{text}} </p>
      </div>

</div>