
.contactWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  position: relative;
    
  & .cubeContainer {
    position: absolute;
    bottom: 100px;
    right: 200px;
  }
  }
  