
<div  class="projectsWrapper" id="projectsWrapper">
    <div class="projectsContainer">
        <div  *ngFor="let projectCard of briefProjectCards" class="projectWrapper" #videoWrapper 
        (click)="goToProjectDetails(projectCard.id)"
        (touchstart)="goToProjectDetails(projectCard.id)"
        >  
         <img [src]="projectCard.link"  alt="">
            <div class="projectsInfo">
               
                <div class="skills">
                    <ng-container *ngFor="let skill of projectCard.skills">
                        <ng-container *ngIf="skills[skill]">
                            <img class="icon" [src]="skills[skill]" [alt]="skill">
                        </ng-container>
                    </ng-container>
                </div>
                <h3>{{ projectCard.title }}</h3>
            </div>
        </div>
    </div>
</div>
