<div class="homeWrapper">
      <div class="photo"></div>
      <div class="info">
            <h1>FRONTEND DEVELOPER</h1>
            <h2>SELETSKA KIRA</h2>
            <div class="skills">
                  <img src="../../assets/icons/icons_scills/javascript.svg" alt="JavaScript" class="skill-icon">
                  <img src="../../assets/icons/icons_scills/typescript.svg" alt="TypeScript" class="skill-icon">
                  <img src="../../assets/icons/icons_scills/react.svg" alt="React" class="skill-icon">
                  <img src="../../assets/icons/icons_scills/angular.svg" alt="Angular" class="skill-icon">
                  <img src="../../assets/icons/icons_scills/redux.svg" alt="Redux" class="skill-icon">
                  <img src="../../assets/icons/icons_scills/mobx.svg" alt="MobX" class="skill-icon">
                  <img src="/../../assets/icons/icons_scills/sass.svg" alt="Sass" class="skill-icon">
            </div>
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, harum cum voluptate sint recusandae, aliquid placeat vitae saepe perferendis esse possimus ab iusto inventore ipsam, itaque nihil veritatis rerum consequuntur nostrum ex iure autem! Dolore accusantium debitis labore quasi soluta. Alias ea eveniet nihil cupiditate possimus voluptatem quod rerum tempora?

            </p>
      </div>
    
</div>