<div class="skill">
    <div class="progress-bar">
        <p class="title">HTML</p>
        <div class="progress" #html><p class="procent">90%</p></div>
        <p class="title">CSS</p>
        <div class="progress" #css><p class="procent">90%</p></div>
        <p class="title">javascript</p>
        <div class="progress" #javascript><p class="procent">80%</p></div>
        <p class="title">typescript</p>
        <div class="progress" #typescript><p class="procent">70%</p></div>
        <p class="title">react</p>
        <div class="progress" #react><p class="procent">80%</p></div>
        <p class="title">angular</p>
        <div class="progress" #angular><p class="procent">50%</p></div>
        <p class="title">gitHub</p>
        <div class="progress" #gitHub><p class="procent">90%</p></div>

    </div>
</div>
